socila_media_auto_n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        272,
        0
      ],
      "id": "5ed0b855-d8f9-49d1-a959-0caa803b5f28",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/imagen-4.0-generate-001",
          "mode": "list",
          "cachedResultName": "models/imagen-4.0-generate-001"
        },
        "prompt": "={{$json.imagePrompt}}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "450b5d7c-c78d-42d7-9f4c-ee192f2ac9c5",
      "name": "Generate an image",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googlePalmApi": {
          "id": "A3F56fhOUqzBElqR",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "generates an image for the instagram and facebook post"
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.0-fast-generate-001",
          "mode": "list",
          "cachedResultName": "models/veo-3.0-fast-generate-001"
        },
        "prompt": "={{$json.imagePrompt}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        880,
        160
      ],
      "id": "e41bce7a-4fbc-4ee2-85a7-aff267bcce0a",
      "name": "Generate a video",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "A3F56fhOUqzBElqR",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "generates a video for the tiktok post"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        80
      ],
      "id": "3c223660-71f1-4fad-bcd5-2d4e225c9f25",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/PLACEHOLDER_IG_USER_ID/media_publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{$json.id}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        -112
      ],
      "id": "9848da92-942b-4646-b34d-a4d07dcf839e",
      "name": "Instagram Posting",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "5Zmb3u5yLUTQuW2U",
          "name": "Bearer Auth account 2"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "publishes the post on instagram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/PLACEHOLDER_IG_USER_ID/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"caption\": \"{{$json.caption}} {{$json.hashtags}}\",\n  \"media_type\": \"IMAGE\",\n  \"image_url\": \"{{$json.imageUrl}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        -112
      ],
      "id": "1622844a-0fa3-44ad-a43a-f6732a8b860f",
      "name": "create instagram post",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "5Zmb3u5yLUTQuW2U",
          "name": "Bearer Auth account 2"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "creates a post for instagram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/PLACEHOLDER_GROUP_ID/feed",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{$json.caption}}\",\n  \"link\": \"{{$json.imageUrl}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        -272
      ],
      "id": "8300f362-460a-424b-80ae-c3e66ed27eb5",
      "name": "create and post facebook post",
      "credentials": {
        "httpBearerAuth": {
          "id": "5Zmb3u5yLUTQuW2U",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Assuming the AI output is already parsed\nconst { idea, imagePrompt, caption, hashtags } = $json;\n\n// Add media URLs from your generation nodes\nconst structuredData = {\n  idea,\n  imagePrompt,\n  caption,\n  hashtags,\n  imageUrl: $json.imageUrl || '',\n  videoUrl: $json.videoUrl || '',\n  timestamp: new Date().toISOString()\n};\n\nreturn {\n  json: structuredData\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        80
      ],
      "id": "d4b8ba31-3d72-4391-8a99-3de88ff14d85",
      "name": "structure data for sheet caching",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v1/video/upload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{$json.videoUrl}}\",\n  \"caption\": \"{{$json.caption}} {{$json.hashtags}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        272
      ],
      "id": "fcbe4dae-dce1-4fd0-81a5-f953a0484539",
      "name": "post video on tiktok",
      "credentials": {
        "httpBearerAuth": {
          "id": "5Zmb3u5yLUTQuW2U",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "try {\n  const raw = $json?.content?.parts?.[0]?.text;\n  if (!raw) throw new Error(\"No text found\");\n  const parsed = JSON.parse(raw);\n  return { json: parsed };\n} catch (err) {\n  return { json: { error: err.message } };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        0
      ],
      "id": "7aae1ffe-e5d2-4f86-b5b5-afb61de7254b",
      "name": "parse text to json",
      "executeOnce": false,
      "notes": "parses the output of the last node to json"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Generate a social media post idea about animals\nGive me:\n\n1) A short content idea (1–2 sentences)\n2) An image prompt describing what image should match this idea\n3) A 50–80 word caption\n4) 10 hashtags\n\nFormat your output as JSON:\n{\n  \"idea\": \"\",\n  \"imagePrompt\": \"\",\n  \"caption\": \"\",\n  \"hashtags\": \"\"\n}"
            }
          ]
        },
        "jsonOutput": "={\n{\n  \"idea\": \"\",\n  \"imagePrompt\": \"\",\n  \"caption\": \"\",\n  \"hashtags\": \"\"\n}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "78d9fcbe-9ae6-43e9-8d1f-4c35136e6147",
      "name": "create post caption",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "A3F56fhOUqzBElqR",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "generates the content in json "
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "create post caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a video": {
      "main": [
        [
          {
            "node": "post video on tiktok",
            "type": "main",
            "index": 0
          },
          {
            "node": "structure data for sheet caching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "create instagram post",
            "type": "main",
            "index": 0
          },
          {
            "node": "create and post facebook post",
            "type": "main",
            "index": 0
          },
          {
            "node": "structure data for sheet caching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create instagram post": {
      "main": [
        [
          {
            "node": "Instagram Posting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "structure data for sheet caching": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse text to json": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create post caption": {
      "main": [
        [
          {
            "node": "parse text to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a53a45f9-9ee8-49f4-bfdd-025af5e7b724",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "966994f80d989d5f4bea724dbeed3ffd66ed32099aa418a4551eef91773d1be2"
  },
  "id": "Matavi4FyOhjW1uH",
  "tags": []
}